<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} // DataPlay</title>
    <meta name="author" content="Tyler Rilling" />
    <link href="/atom.xml" rel="alternate" title="DataPlay" type="application/atom+xml" />

    <link rel="stylesheet" href="/dist/css/dataplay.min.css" type="text/css" media="screen, projection" />

    <!-- Typekit -->
    <script type="text/javascript" src="//use.typekit.net/wkh8smn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/vendor/js/highcharts/highcharts.js"></script>
    <script src="/vendor/js/highcharts/modules/exporting.js"></script>
    <script src="/dist/js/dataplay.min.js" type="text/javascript"></script>

    <!-- Google Analytics -->
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30583107-1']);
    _gaq.push(['_setDomainName', 'data.alifewellplayed.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
</head>
<body>

{% include header.html %}

    <div class="site">
        {{ content }}

        <div class="container">
            <footer class="footer">
                <p>DataPlay, copyright &copy; 2015, <a href="http://underlost.net">Tyler Rilling</a>, <a href="http://alifewellplayed.com/">A Life Well Played</a>.</p>
            </footer>
        </div>

    </div>
</body>
</html>
